<div class="topnav" id="myTopnav">
  <a href="{{site.baseurl}}/">Home</a>
  <a href="{{site.baseurl}}/people.html">People</a>
  <a href="{{site.baseurl}}/upcoming.html">Upcoming Talks</a>
  <a href="{{site.baseurl}}/previous.html">Previous Talks</a>
  <a href-"https://youtube.com/playlist?list=PLi_yq6VKWbcYMDd4l_4-mbrvRh17yODcv" target="_blank">Videos</a>
  <a href="{{site.baseurl}}/sponsors.html">Sponsors</a>
  <a href="javascript:void(0);" class="icon" onclick="minimizeNavBar()">
    <i class="fa fa-bars"></i>
  </a>
</div>
