---
---

@import "{{ site.theme }}";
.topnav {
  overflow: hidden;
};
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 14px;
};
.topnav a:hover {
  background-color: #ddd;
  color: black;
};
.topnav a.active {
  background-color: #4CAF50;
  color: white;
};
* {
  box-sizing: border-box;
};
.column {
  flex: none;
  padding: 2px;
};
.row {
  display: flex;
  justify-content: space-between;
};
@media screen and (max-width: 480px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .column img {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
#project_title {
  font-size: 36px;
}
