---
---

@import "{{ site.theme }}";
.topnav {
  overflow: hidden;
};
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 14px;
};
.topnav a:hover {
  background-color: #ddd;
  color: black;
};
.topnav a.active {
  background-color: #4CAF50;
  color: white;
};
.topnav .icon {
  display: none;
};
* {
  box-sizing: border-box;
};
.column {
  flex: none;
  padding: 2px;
};
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
};
.rowHeader {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
};
@media (max-width: 640px) {
  .topnav a:not(:first-child) {display: none;};
  .topnav a.icon {
    float: right;
    display: block;
  };
  .headerImg {
    display: none;
  };
};
@media (max-width: 640px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  };
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  };
};
#project_title {
  font-size: 24px;
  text-align: center;
};
.talks {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
};
.talk {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  border 1px solid #000;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
};
.talk .speakerInfo {
  width: 25%;
  float: left;
  padding: 15px;
};
.talk .talkInfo {
  width: 75%;
  float: left;
  padding: 15px;
};
.talk img {
  min-width: 50%;
  max-width: 100%;
  height: auto;
};
table tr th:nth-child(2){
  width: 25%;
};
table tr th:nth-child(3){
  width: 25%;
};

