---
---

@import "{{ site.theme }}";
.topnav {
  overflow: hidden;
};
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
};
.topnav a:hover {
  background-color: #ddd;
  color: black;
};
.topnav a.active {
  background-color: #4CAF50;
  color: white;
};
* {
  box-sizing: border-box;
};
.column {
  flex: 50%;
  padding: 5px;
};
.row {
  display: flex;
  justify-content: space-between;
};
